.audio {
  position: absolute;
  inset: 0;
  pointer-events: none;

  & * {
    pointer-events: all;
  }

  &-volume {
    z-index: 1;
    background: linear-gradient(to bottom,
     rgba(255, 255, 255, .2) 0%, 
     rgba(255, 255, 255, .4) 15%,
     rgba(255, 255, 255, .5) 20%,
     rgba(255, 255, 255, .4) 25%,
     rgba(255, 255, 255, .2) 70%,
     rgba(255, 255, 255, .0) 100%
     );

    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%) scaleX(.5);
    width: 400px;
    border: 1px solid white;
    height: 20px;
    border-radius: 30px;
    transition: visibility 1s, opacity 1s;

    &:after {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: rgba(0, 0, 0, .5);
      top: 0;
      right: 0;
    }

    &-threshold {
      position: absolute;
      height: 100%;
      // width: 30px;
      width: 10px;
      border-radius: 10px;
      // border-right: 5px solid rgba(0, 0, 0, .5);
      border-left: 5px solid black;
      top: 0;
      padding-left: 10px;
      // line-height: 20px;
      user-select: none;
      font-size: 15px;
      transform: scaleX(1.5);
    }

    &-amount {
      position: relative;
      top: 3px;
      left: 8px;
      background: rgba(240, 67, 9, 0.75);
      height: calc(100% - 6px);
      border-radius: 30px;
      &:after {
        content: '';
        position: absolute;
        right: 0px;
        background: rgb(254, 102, 51);
        height: 100%;
        width: 20px;
        border-radius: 50%;
      }

    }
  }
}