.webcam {
  position: absolute;
  inset: 0;

  &-start {
    text-transform: uppercase;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    background: none;
    color: white;
    padding: .5rem 2rem;
    border-radius: 3rem;
    transition: color .25s, background .25s, visibility .5s, opacity .5s;
    cursor: pointer;
    letter-spacing: .1rem;
    
    &:hover {
      background: white;
      color: #333;
    }
  }
}