.tutorial {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  @keyframes pulse {
    0% { opacity: 0 }
    50% { opacity: 1 }
    100% { opacity: 0 }
  }
  @keyframes wiggle {
    0% { transform: translateX(-50%) }
    10% { transform: translateX(calc(-50% + .5rem)) }
    20% { transform: translateX(calc(-50% - .5rem)) }
    30% { transform: translateX(-50%) }
    100% { transform: translateX(-50%) }
  }
  &-step {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-top: 6rem;

    &.camera {
      p {
        margin-top: 6rem;
      }
    }

    .threshold {
      position: absolute;
      bottom: 1.5rem;
      height: 50px;

      p {
        position: absolute;
        top: 6px;
        left: 0;
        white-space: nowrap;
        transform: translate(-50%, -50%);
        font-size: 12px;
      }
      img {
        position: absolute;
        height: calc(100% - 20px);
        top: 28px;
        z-index: 2;
      }
    }

    img {
      width: 430px;
    }
  }

  p {
    color: white;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .75);
    font-weight: 600;
  }

  .pulse {
    animation: pulse 3s infinite;
  }

  .wiggle {
    animation: wiggle 2s infinite;
  }
}