html, body, #root {
  position: absolute;
  inset: 0;
  background: #333;
  font-size: 16px;
  margin: 0;

  .app {
    .container {
      position: absolute;
      top: 50%;
      left: 50%;

      canvas, video {
        position: absolute;
        transform: scaleX(-100%);
        transition: opacity .5s, visibility .5s;
      }
    }

    .scene {
      & canvas {
        width: 640px !important;
        height: 480px !important;
      }
    }

    .controls {
      position: absolute;
      inset: 0;
      pointer-events: none;

      & * {
        pointer-events: all;
      }

      &-webcam {
        white-space: nowrap;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid white;
        background: none;
        color: white;
        padding: .5rem 2rem;
        border-radius: 3rem;
        transition: color .25s, background .25s, visibility .5s, opacity .5s;
        cursor: pointer;

        &:hover {
          background: white;
          color: #333;
        }
      }

      .volume {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        border: 2px solid white;
        height: 10px;
        border-radius: 10px;
        transition: visibility 1s, opacity 1s;

        &-threshold {
          height: 100%;
          background: rgba(255, 255, 255, .5);
          border-radius: 6px;
          position: absolute;
          left: 0;
          top: 0;
          backdrop-filter: blur(10px);
        }

        &-amount {
          position: absolute;
          top: 3px;
          left: 3px;
          background: white;
          height: calc(100% - 6px);
          border-radius: 3px;

        }
      }
    }
  }

  .hidden {
    visibility: hidden;
    opacity: 0;
  }
}